# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# MSVC temp files
*.obj
*.log
*.ilk
*.pdb
*.tlog
*.idb
*.opensdf
*.sdf
*.user
*.suo

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
build/unit_test
build/Makefile
build/libcm256.a
build/compile_commands.json
build/CMakeFiles/unit_test.dir/unit_test/SiameseTools.cpp.o.d
build/CMakeFiles/unit_test.dir/unit_test/SiameseTools.cpp.o
build/CMakeFiles/unit_test.dir/unit_test/main.cpp.o.d
build/CMakeFiles/unit_test.dir/unit_test/main.cpp.o
build/CMakeFiles/unit_test.dir/progress.make
build/CMakeFiles/unit_test.dir/link.txt
build/CMakeFiles/unit_test.dir/flags.make
build/CMakeFiles/unit_test.dir/DependInfo.cmake
build/CMakeFiles/unit_test.dir/depend.make
build/CMakeFiles/unit_test.dir/compiler_depend.ts
build/CMakeFiles/unit_test.dir/compiler_depend.make
build/CMakeFiles/unit_test.dir/cmake_clean.cmake
build/CMakeFiles/unit_test.dir/build.make
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/progress.marks
build/CMakeFiles/Makefile2
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/cm256.dir/src/gf256.cpp.o.d
build/CMakeFiles/cm256.dir/src/gf256.cpp.o
build/CMakeFiles/cm256.dir/src/cm256.cpp.o.d
build/CMakeFiles/cm256.dir/src/cm256.cpp.o
build/CMakeFiles/cm256.dir/progress.make
build/CMakeFiles/cm256.dir/link.txt
build/CMakeFiles/cm256.dir/flags.make
build/CMakeFiles/cm256.dir/DependInfo.cmake
build/CMakeFiles/cm256.dir/depend.make
build/CMakeFiles/cm256.dir/compiler_depend.ts
build/CMakeFiles/cm256.dir/compiler_depend.make
build/CMakeFiles/cm256.dir/cmake_clean_target.cmake
build/CMakeFiles/cm256.dir/cmake_clean.cmake
build/CMakeFiles/cm256.dir/build.make
build/CMakeFiles/3.22.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.22.0/CompilerIdCXX/a.out
build/CMakeFiles/3.22.0/CompilerIdC/CMakeCCompilerId.o
build/CMakeFiles/3.22.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.0/CMakeSystem.cmake
build/CMakeFiles/3.22.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.0/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.0/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.0/CMakeCCompiler.cmake
build/CMakeCache.txt
build/cmake_install.cmake
build/.cmake/api/v1/reply/toolchains-v1-b28d1aa8569b82e13f06.json
build/.cmake/api/v1/reply/target-unit_test-Release-bbbd13f5e1bd205460e6.json
build/.cmake/api/v1/reply/target-cm256-Release-fa27efc2593a150dbf0d.json
build/.cmake/api/v1/reply/index-2021-12-02T16-14-06-0704.json
build/.cmake/api/v1/reply/directory-.-Release-6eb7340abe300d5dca61.json
build/.cmake/api/v1/reply/codemodel-v2-a657f41ab3bac69747b2.json
build/.cmake/api/v1/reply/cache-v2-e4cb59d829e9500f200e.json
build/.cmake/api/v1/query/client-vscode/query.json
.vscode/tasks.json
.vscode/settings.json
.vscode/launch.json
.vscode/c_cpp_properties.json
